<div class="body">
    <h1 class="mt-5">Thought Leaderships PwC Colombia</h1>
    <div class="row">
        <div class="col">
            <h3 class="mt-5">PwC Insights</h3>
            <strong>
                Información valiosa para personas y empresas valiosas
            </strong>
            <p>
                Queremos que conozcas de primera mano los desafíos y retos que enfrenta hoy el mundo. Consulta lo último en tendencia para el crecimiento de las empresas, los sectores y la sociedad.
            </p>
            <div class="button-link">
                <a href="https://www.pwc.com/co/es/pwc-insights.html">
                    <button type="button" class="btn btn-danger">
                        <strong>Conoce el PwC Insights </strong>
                    </button>
                </a>
            </div>
        </div>
        <div class="col mt-5">

            <a class="twitter-timeline" href="https://twitter.com/PwC_Colombia?ref_src=twsrc%5Etfw">Tweets by PwC_Colombia</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
            </script>
        </div>
    </div>
</div>