/* ******Developed by******
***Albeiro Vidal Rojas** */

.box {
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.text {
    text-align: center;
    padding-top: 1%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

.card-colum-descripcion {
    padding-top: 1%;
    align-content: center;
}